<h3><%= user.email %>'s user page</h3>

<% if errors.length > 0 %>
  <% errors.each do |error|  %>
    <%= error %><br />
  <% end %>
<% end %>

<div id="new_user_idea_form">
  <form action='/users/<%= user.id %>' method='POST'>
    <p>
      Your new idea:
    </p>
    <input type='hidden' name='idea[user_id]' value='<%= user.id %>' /><br />
    Title: <input type='text' name='idea[title]' /><br />
    Description: <textarea name='idea[description]'></textarea><br />
    Tags: <input type='text' name='idea[tags]' /><br />
    Group: <select name='idea[group_id]' id='group_dropdown'>
      <% groups.each do |group| %>
        <option value=<%= group.id %> name=<%= group.name %>><%= group.name %></option>
      <% end %>
    </select>
    <input type='submit' id='submit_button'/>
  </form>
</div>

<div id="new_user_group_form">
  <form action='/users/<%= user.id %>/groups' method='POST'>
    <p>
      Your new group name:
    </p>
    <input type='hidden' name='group[user_id]' value='<%= user.id %>' /><br />
    <input type='text' name='group[name]' /><br />
    <input type='submit' id='create_group_button' />
  </form>
</div>

<div id="ideas_by_group">
  <p>Existing Groups</p>
    <div class="groups clearfix">
  <% groups.each do |group| %>
    <ul id="user_group_list">
      <li class"group_name">Group name: <%= group.name %></li>
        <% group.ideas.sort.each do |idea| %>
          <ul id="group_idea_list">
            <ul class="idea_attribs">
              <li class="idea_title">
                Title: <%= idea.title  %>
              </li>
              <li class="idea_description">
                Desc: <%= idea.description %>
              </li>
              <li class="idea_rank">
                Rank: <%= idea.rank %>
              </li>
              <li class="idea_tags">
                <% idea.tags.each do |tag| %>
                  <%= tag %>
                <% end %>
              </li>
            </ul>
            <div class="idea_actions">
              <form action='/<%= idea.id %>/like' method='POST' style="display: inline">
                <input type='submit' id='rank_button' value="+" />
              </form>
              <a href="/<%= idea.id %>/edit">Edit</a>
              <form action="/<%= idea.id %>" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="delete" />
              </form>
            </div>
          </ul>
        <% end %>
    </ul>
  <% end %>
  </div><!-- //.groups -->
</div>

<div class="your_tags">
  <p>Your tags:</p>
  <% user.all_tags.each do |tag| %>
    <a href='/tags/<%= tag %>'><%= tag %></a>
  <% end %>
</div>
