<h3><%= user.email %> 's user page</h3>

<form action='/users/<%= user.id %>' method='POST'>
  <p>
    Your new idea:
  </p>
  <input type='hidden' name='idea[user_id]' value='<%= user.id %>' /><br />
  <input type='text' name='idea[title]' /><br />
  <textarea name='idea[description]'></textarea><br />
  Group: <select name='idea[group_id]' id='group_dropdown'>
    <% groups.each do |group| %>
      <option value=<%= group.id %> name=<%= group.name %>><%= group.name %></option>
    <% end %>
  </select>
  <input type='submit' id='submit_button'/>
</form>

<form action='/users/<%= user.id %>/groups' method='POST'>
  <p>
    Your new group name:
  </p>
  <input type='hidden' name='group[user_id]' value='<%= user.id %>' /><br />
  <input type='text' name='group[name]' /><br />
  <input type='submit' id='create_group_button' />
</form>

<% if false %>
<p>Existing ideas:</p>
<% ideas.each do |idea| %>
  <ul>
    <li>Idea title: <%= idea.title %></li>
    <li>Idea desc: <%= idea.description %></li>
  </ul>
<% end %>
<% end %>

<p>Existing Groups</p>
<% groups.each do |group| %>
  <ul>
    <li>Group name: <%= group.name %><li>
    group ideas are <%= group.ideas %>
      <% group.ideas.each do |idea| %>
        <ul>
          <li><%= idea.title  %></li>
        </ul>
      <% end %>
  </ul>
<% end %>
